@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.first-section{
    padding: 20px 150px 20px 150px;
    background-color: rgba(255, 144, 14, 0.10);;
}

nav ul a{
    text-decoration: none;
}

nav ul li{
    list-style-type: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 2rem;
}

nav h3{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-box h3{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-box p{
    color: var(--dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.button a{
    text-decoration: none;
    color: #FFF;

}

.button{
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #FF900E;
    padding: 21px 24px 21px 24px;
    border: 0;
}

.banner{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.second-section{
    padding: 40px 150px 20px 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.image-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.image-box img{
    width: 14rem;
}

.text-box-2 h3{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#t-1{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
}

#t-2{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-box-2 p{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}